In [ ]:
first = int(input())
second = int(input())
try:
  z = first/second
except ZeroDivisionError:
  print("Error")
else:
  print(z)

4
2
2.0

***Addition***: One common problem when prompting for numerical input occurs
when people provide text instead of numbers. When you try to convert the input to an
int, youâ€™ll get a ValueError. Write a program that prompts for two numbers. Add them
together and print the result. Catch the ValueError if either input value is not a number,
and print a friendly error message. Test your program by entering two numbers and then
by entering some text instead of a number.

In [ ]:
def addition():
  first = input()
  second = input()
  try:
    sum = int(first)+int(second)
  except ValueError:
    print("Need integer value.")
  else:
    print("sum is :",sum)

In [ ]:
addition()

4
2
sum is : 6

In [ ]:
addition()

1
h
Need integer value.

***Addition Calculator***: Wrap your code from the above exercise in a while loop so the
user can continue entering numbers even if they make a mistake and enter text instead of
a number

In [ ]:
while True:
  first = input()
  # quits if we enter q as input
  if first == "q":
    break
  second = input()
  if second =="q":
    break
  try:
    sum = int(first)+int(second)
  except ValueError:
    print("Need integer value.")
  else:
    print("sum is :",sum)

1
2
sum is : 3
q

***Cats and Dogs***: Make two files, cats.txt and dogs.txt. Store at least three names of
cats in the first file and three names of dogs in the second file. Write a program that tries
to read these files and print the contents of the file to the screen. Wrap your code in a
try-except block to catch the FileNotFound error, and print a friendly message if a file
is missing. Move one of the files to a different location on your system, and make sure
the code in the except block executes properly.

In [ ]:
with open("cats.txt","w") as c, open("dogs.txt","w") as d:
  c.write("luna,oliver,simba\n")
  c.write("max,ace,coco")

In [ ]:
try:
  with open("\contents\cats.txt","r") as c, open("dogs.txt","r") as d:
    print(c.read())
    print(d.read())
except FileNotFoundError:
  print(f"File is missing",)

File is missing

***Silent Cats and Dogs***: Modify your except block in above exercise to fail silently
if either file is missing.

In [ ]:
try:
  with open("\contents\cats.txt","r") as c, open("dogs.txt","r") as d:
    print(c.read())
    print(d.read())
except FileNotFoundError:
  pass

**Sample Input**

    3
    1 0
    2 $
    3 1

**Sample Output**

    Error Code: integer division or modulo by zero
    Error Code: invalid literal for int() with base 10: '$'
    3

In [4]:
n = int(input())
for _ in range(n):
    try:
        a,b = input().split(' ')
        z = int(a)//int(b)
    except Exception as e:
        print("Error Code:",e)
    else:
        print(int(z))

1
s 4
Error Code: invalid literal for int() with base 10: 's'