*Write a program that reads a file and writes out a new file with the lines in reversed order (i.e. the first line in the old file becomes the last one in the new file.)*

In [79]:
input_1 = open("input_1.txt","w")
input_1.write("I am working on file handling.\n")
input_1.write("One day I will become a datascientist.\n")
input_1.write("I am the data scientist.\n")
input_1.close()

In [ ]:
input_1 = open("input_1.txt","r")
list_1 = input_1.readlines()
list_1.reverse()
output_1 = open("output_1.txt","w")
for v in list_1:
  output_1.write(v)
output_1.close()

*Write a program that reads a file and prints only those lines that contain the substring snake.*

In [ ]:
input_2 = open("input_2.txt","w")
input_2.write("i am snake\n")
input_2.write("i am a data scientist\n")
input_2.write("i love Snakes")
input_2.close()

In [ ]:
input_2 = open("input_2.txt")
list_2 = input_2.readlines()
input_2.close()
output_2 = open("output_2.txt","w")
for v in list_2:
  if 'snake' in v.lower():
    output_2.write(v)
output_2.close()

*Write a program that reads a text file and produces an output file which is a copy of the file, except the first five columns of each line contain a four digit line number, followed by a space. Start numbering the first line in the output file at 1. Ensure that every line number is formatted to the same width in the output file. Use one of your Python programs as test data for this exercise: your output should be a printed and numbered listing of the Python program.*

In [ ]:
input_3 = open("input_3.txt", "w")
input_3.write("dog, [snake, dog], cat\n")
input_3.write("cat\n")
input_3.write("dog\n")
input_3.write("snake")
input_3.close()

In [ ]:
input_3 = open("input_3.txt")
list_3 = input_3.readlines()
output_3 = open("output_3.txt","w")
i = 1
for v in list_3:
  output_3.write(str(i) + str(" ")  + v)
  i+=1
output_3.close()

*Write a program that undoes the numbering of the previous exercise: it should read a file with numbered lines and produce another file without line numbers.*

In [ ]:
input_4 = open("output_3.txt")
list_4 = input_4.readlines()
output_4 = open("output_4.txt","w")
for v in list_4:
  v = list(v.split(" "))
  v.remove(v[0])
  v = " ".join(v)
  output_4.write(v)
output_4.close()

poem.txt contains famous poem "Road not taken" by poet Robert Frost. You have to read this file in your python program and find out words with maximum occurance.

In [35]:
with open("poem.txt","w") as f:
  f.write("""Two roads diverged in a yellow wood,
And sorry I could not travel both
And be one traveler, long I stood
And looked down one as far as I could
To where it bent in the undergrowth;

Then took the other, as just as fair,
And having perhaps the better claim,
Because it was grassy and wanted wear;
Though as for that the passing there
Had worn them really about the same,

And both that morning equally lay
In leaves no step had trodden black.
Oh, I kept the first for another day!
Yet knowing how way leads on to way,
I doubted if I should ever come back.

I shall be telling this with a sigh
Somewhere ages and ages hence:
Two roads diverged in a wood, and Iâ€”
I took the one less traveled by,
And that has made all the difference.""")

In [59]:
stats ={}
with open("poem.txt","r") as f:
  for lines in f:
    words = lines.split(' ')
    for word in words:
      if word in stats:
        stats[word]+=1
      else:
        stats[word] = 1
count = stats.values()
max_count = max(count)
# max_count
for word,count in stats.items():
  if count == max_count:
    print(word)

I
the

stocks.csv contains stock price, earnings per share and book value. You are writing a stock market application that will process this file and create a new file with financial metrics such as pe ratio and price to book ratio. These are calculated as,
pe ratio = price / earnings per share
price to book ratio = price / book value

In [64]:
import pandas as pd
df = pd.DataFrame({"Company Name":["Reliance","Tata Steel","Infosys","Axis Bank","Bajaj Finance"],
                   "Price" : [1467,391,650,739,4044],
                   "Earning Per Share" : [66,89,35,19,69],
                   "Book Value": [653,572,147,263,341]})

In [66]:
df.to_csv("stocks.csv",index = False)

In [67]:
df

    Company Name  Price  Earning Per Share  Book Value
0       Reliance   1467                 66         653
1     Tata Steel    391                 89         572
2        Infosys    650                 35         147
3      Axis Bank    739                 19         263
4  Bajaj Finance   4044                 69         341

In [78]:
# pe ratio = price / earnings per share
# price to book ratio = price / book value

with open("stocks.csv","r") as f, open("out.csv","w") as o:
  o.write("Company Name,PE Ratio, PB Ratio\n")
  next(f)
  for line in f:
    tokens = line.split(",")
    stock = tokens[0]
    price = float(tokens[1])
    eps = float(tokens[2])
    bv = float(tokens[3])
    per = round(price/eps,2)
    pbr = round(price/bv,2)
    o.write(f"{stock},{per},{pbr}\n")